# Frontend
frontend/node_modules
frontend/dist

# General
*.log


# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Coverage and test artifacts
*.coverage
*.coveragexml
*.testlog
*.trx
*.vsidx

# SQLite databases (if not tracked)
*.db
*.db-shm
*.db-wal
